.navbar{
    width: 100%;
    margin-top: 2rem;
    position: relative;
}
.navbar img{
    width: 30%;
}
.logo{
    min-width: 100px;
}
.contentNavbar{
    color: white;
    font-size: 1.5rem;
    font-family:'Kyiv*Type Titling';
}
.contentNavbar::before{
    content: "|";
    margin-right: 3rem;
}
.containIcons{
    display: flex;
    width: 20%;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}
.content_user{
    max-width: 9rem;
    width: 100%;
    min-width: 6rem;
}
.content_user img{
    border-radius: 50%;
    object-position: center;
}