.genre{
    font-size: 1rem;
}
.genre::after{
    content: "|";
    margin-left: 1.5rem;
}
.genre::before{
    content: "";
    margin-left: 1.5rem;
}

.contentInfo{
    display: flex;
    flex-flow: wrap column;
    height: 90%;
    padding-left:5rem;
    color:white;
    position: relative;
    justify-content: space-around;

}
.contentInfo .title{
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.overview{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow:hidden ;
    line-clamp: 3;
    width: 50%;
    min-width: 290px;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #cecece;
    margin-bottom: 0;
    margin: 0;
}
.imgpopular{
    height: 70%;
    cursor: pointer;
    border:rgb(0, 0, 65) solid 2px;
    transition: all 2s ease-in;
    border-radius: 0.3rem;
}
.imgpopular:hover{
    border: white solid 3px;
    cursor: pointer;
    margin-left: 1.5rem;
    transition: all 0.5s ease-in-out;
}
.contenedor_carrusel_principal{
    position: relative;
    margin-top: 1rem;
    height: 48%;
}
@media (min-width:1200px) {
    .overview{
        font-size: 1.3rem;
        line-height: 1.9rem;
        width: 60%;
    }
    .contentInfo .title{
        font-size: 2rem;
    }
   .contenedor_carrusel_principal {
    height: 50%;
    }
}
@media (max-width:1200px) {
    .overview{
        font-size: 1rem;
        line-height: 1.5rem;
        width: 80%;
    }
    .contentInfo .title{
        font-size: 1.5rem;
    }
}