.genre{
    font-size: 1rem;
}
.genre::after{
    content: "|";
    margin-left: 1.5rem;
}
.genre::before{
    content: "";
    margin-left: 1.5rem;
}

.contentInfo{
    margin-left:5rem;
    color:white;
    position: relative;

}
.title{
    margin-top: 6px;
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.overview{
    width: 50%;
    min-width: 290px;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #cecece;
    display: inline-block;
    margin-bottom: 0;
}

@media (min-width:1200px) {
    .overview{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .title{
        font-size: 2rem;
    }
}