@media (min-width:1200px) {
    .imgMovie{
        width: 16vw;
    }
}
@media (max-width:1200px) {
    .imgMovie{
        width: 20vw;
    }
    .genre{
        font-size:0.8rem;
    }
}

@media (max-width:800px) {
    .imgMovie{
        width: 32vw;
    }
}
@media (max-width:600px) {
    .imgMovie{
        width: 30vw;
    }
}