@media (min-width:1200px) {
    .imgMovie{
        width: 18vw;
    }
}
@media (max-width:1200px) {
    .imgMovie{
        width: 22vw;
    }
}

@media (max-width:800px) {
    .imgMovie{
        width: 34vw;
    }
}
@media (max-width:600px) {
    .imgMovie{
        width: 50vw;
    }
}