/*Styles sectionCarousel.tsx*/
.contain_all_carousel{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    position: relative;
    align-items: center;
    gap: 4rem;
}



/*Styles Carousel.tsx*/
.contain_carousel{
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: all ease-in-out 2s;
    gap: 2rem;
}

figcaption{
    color: white;
    text-align: center;
}
.parentSlider{
    display: flex;
    width: 90%;
    height: 100%;
}

.imgMovie{
    position: relative;
    transition: all 0.7s;
    object-fit: contain;
    border-radius: 0.3rem;
    border: rgb(21, 21, 95) solid 2px;
    scroll-snap-align: start;
    transition: 1s border ease-in-out;
}
.imgMovie:hover{
    border: 3px solid white;
    cursor: pointer;
    z-index: 30;
    margin-left: 2rem;
    transform: rotate3d(1);
    transition: all 1s ease-out;
}

.gender{
    color: black;
    text-align: center;
    margin: 0;
    border: white solid 2px ;
    border-top: none;
    padding: 0 2rem;
    border-radius: 0.3rem;
    background-color: white;
}

.contain{
    gap:3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: height 1s ease-in-out;
    border-top: 2px solid white;
    justify-content: space-between;
}
.contain:hover{
    transition: height 2s ease-in-out;

}
.contain_button{
    position: absolute;
}
.titleMovie{
    position: absolute;
    bottom:50%;
    text-shadow: 30px yellow;
    width: 90%;
    text-overflow: ellipsis;
    font-size: 2rem;
}