/*Styles sectionCarousel.tsx*/
.contain_all_carousel{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100vw;
    position: relative;
    align-items: center;
    gap: 5rem;
    padding-bottom: 6rem;
}
.containCarouselGender{
    height: 50vh;
    transition: 1s;
}
.containCarouselGender:hover{
    height: 70vh;
    transition: 2s;
}


/*Styles Carousel.tsx*/
.contain_carousel{
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: all ease s;
    gap: 2rem;
    transition: all 1s;
}

figcaption{
    color: white;
    text-align: center;
}
.parentSlider{
    display: flex;
    width: 90%;
    height: 100%;
}

.imgMovie{
    height: 80%;
    position: relative;
    transition: all 0.7s;
    object-fit: contain;
    width: 90%;
}
.imgMovie:hover{
    border: 3px solid white;
    cursor: pointer;
    z-index: 30;
    height: 82%;
    margin-left: 2rem;
}

.gender{
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}

.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.contain_button{
    position: absolute;
}
.titleMovie{
    position: absolute;
    bottom:50%;
    text-shadow: 30px yellow;
    width: 90%;
    text-overflow: ellipsis;
    font-size: 2rem;
}