#root{
}

body{
  margin: 0;
  scroll-behavior: smooth;
    background-color: black;

}


.estate_charge{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 100%;
  background-color: black;
}
